*, *::before, *::after {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat';
    font-size: 20px;
    color: #fff; 
}   

.slide-1 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('/images/main.jpg');
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .article-box {
        background-color: dark;
        width: 50%;

        h1 {
            font-family: "Lobster";
            font-size: 72px;
            letter-spacing: 5px;
            text-shadow: 2px 2px 4px #000000;
        }
        
        p {
            margin-top: .3em;
            margin-left: 2em;
            font-family: "Indie Flower";
            font-size: 28px;
            line-height: 1em;
            text-shadow: 4px 4px 4px #000000;
        }
    }
}
.slide-2 {
    background-color: #52B9E8;
    height: 23vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .option-box {
        display: inline-block;
        margin: 0 4em;
        text-align: center;

        transition: all 100ms ease-in-out;
        cursor: pointer;

        i {
            font-size: 5rem;
            text-shadow: 1px 1px 1_+px #3a3a3a;
        }

        p {
            margin-top: .5em;
            font-family: "Lobster";
            font-size: 1.4em;
            letter-spacing: 1.5px;
            text-shadow: 2px 2px 2px #3a3a3a;
        }
    }

    .option-box:hover {
        transform: scale(1.15);
    }
}
.slide-3 {
    height: 77vh;
}

a {
    text-decoration: none;
    color: #fff;
}