*, *::before, *::after {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    font-size: 20px;
    color: #fff;
    overscroll-behavior: smooth; 
}   

.slide-1 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/main.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    .article-box {
        width: 50%;

        h1 {
            font-family: "Lobster";
            font-size: 72px;
            letter-spacing: 5px;
            text-shadow: 2px 2px 4px #000000;
        }
        
        p {
            margin-top: .3em;
            margin-left: 1em;
            font-family: "Indie Flower";
            font-size: 28px;
            line-height: 1em;
            text-shadow: 4px 4px 4px #000000;
        }
    }
    .option-box-1, .option-box-2, .option-box-3, .option-box-4 {
        margin: 3.5em 1.3em;
        text-align: center;
        min-width: 110px;
        height: 100px;
        z-index: 999;
        // background-color: #111;
        // border-radius: 50%;
        // border: 1.2px solid #333;
        // opacity: .9;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        transition: all 200ms ease-in-out;
        // cursor: pointer;
        position: fixed;
        right: 0;
        top: 0;

        i {
            font-size: 2rem;
            text-shadow: 1px 1px 1px #3a3a3a;
        }

        p {
            margin-top: .2em;
            font-family: "Lobster";
            font-size: 1em;
            letter-spacing: 1.5px;
            text-shadow: 2px 2px 2px #3a3a3a;
        }
    }
    .option-box-1 {
        top: 10vh;
    }
    .option-box-2 {
        top: 25vh;
    }
    .option-box-3 {
        top: 40vh;
    }
    .option-box-4 {
        top: 53vh;
        width: 116px;
    }

    .option-box-1:hover, .option-box-2:hover, .option-box-3:hover {
        transform: scale(1.15);
    }
    .option-box-4:hover {
        transform: scale(1.25);
        transform: translateY(-.4em);
    }
}
.slide-3 {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/main_2.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;

    .about-us {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-top: -1em;
        width: 100%;
        height: 20%;
        background-color: #00ccff;
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 82%);
        font-family: "Lobster";
        font-size: 3rem;
        opacity: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
    }
    .about-us > p {
        opacity: 1;
        margin-bottom: .5em;
        text-shadow: 2px 2px #111;
    }
    .about-box {
        width: 75%;
        margin: 4em auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;

        text-align: center;

        .box {
            margin: 1.1em 0;
            width: 8em;
            padding: .5em;
            height: 8em;
            border-radius: 50%;
            transition: all 300ms ease-in-out;
            opacity: .9;
            background-position: center;
            background-size: 300%;
            background-repeat: no-repeat;
            border: 1.2px solid #111;

            justify-self: center;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 24px;
                font-family: "Lobster";
                letter-spacing: .1em;
                color: #efefef;
                text-shadow: 2px 2px #333;
            }
            p {
                font-size: 10px;
                display: none;
            }
        }

        .box > h1 {
            text-align: center;
        }
        .box > p {
            text-align: center;
        }
        .box:hover {
            transform: scale(1.5);
            opacity: 1;
            cursor: default;
        }
        .box-1 {
            background-image: url("../images/poprawione/Hubert.png");
        }
        .box-2 {
            background-image: url("../images/XAWERY2.png");
        }
        .box-3 {
            background-image: url("../images/");
        }
        .box-4 {
            background-image: url("../images/poprawione/Gabi.png");
        }
        .box-5 {
            background-image: url("../images/poprawione/Ada2.png");
        }
        .box-5:hover, .box-2:hover, .box-1:hover, .box-3:hover, .box-4:hover, .box-6:hover, .box-7:hover, 
            .box-8:hover, .box-9:hover, .box-10:hover {
            background-size: 245%;
        }
        .box-6 {
            background-image: url("../images/poprawione/Adi.png");
        }
        .box-7 {
            background-image: url("../images/poprawione/");
        }
        .box-8 {
            background-image: url("../images/poprawione/pawel.png");
        }
        .box-9 {
            background-image: url("../images/poprawione/");
        }
        .box-10 {
            background-image: url("../images/poprawione/");
        }
    }
}
.slide-4 {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/main_4.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;

    .gallery-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20vh;
        background-color: #73ff00;
        clip-path: polygon(0 0, 100% 0, 100% 62%, 0 78%);
        font-family: "Lobster";
        font-size: 4rem;
        opacity: 1;
        text-shadow: 2px 2px #111;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
    }
    .gallery-title p{
        margin-bottom: .7em;
    }

    .gallery {
        width: 90%;
        height: 400px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;    
    }

    .gallery-box {
        width: 45%;
        height: 500px;
        margin-top: 5em;
        margin-left: 1.3em;
        border: 1px solid #fff;
        background-repeat: no-repeat;
        background-size: 175%;
        background-position: center;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .gallery-info {
            position: absolute;
            background-color: #111;
            width: 100%;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            z-index: 2;
            background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
            opacity: 0;
            padding: 5em;
            text-align: justify;
            transition: opacity 200ms ease-in-out;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            button {
                margin-top: 1em;
                border: none;
                padding: .5em 1.5em;
                background-color: #efefef;
                font-family: "Lobster";
                transition: all 200ms ease-in-out;
            }
            button:hover {
                background-color: #73ff00;
                transform: scale(1.2);
                color: #efefef;
            }

            h1 {
                text-align: center;
                font-family: "Lobster";
                letter-spacing: .1em;
                text-shadow: 2px 2px #444;
                color: #73ff00;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .image-1 {
        // background-image: url("../useless_shit/gallery/IMG_20190203_104647.jpg");
    }
    .image-1:hover .gallery-info {
        // background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../useless_shit/gallery/IMG_20190203_104647.jpg');
        background-repeat: no-repeat;
        background-size: 175%;
        background-position: center;
        opacity: .9;
    }

    .image-2:hover .gallery-info{
        // background-image: url("../useless_shit/gallery/IMG_20190203_112303.jpg");
        background-repeat: no-repeat;
        background-size: 175%;
        background-position: center;
        opacity: .9;
    }
}

.slide-5 {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/main_5.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;

    .blog-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20vh;
        background-color: rgb(255, 21, 0);
        clip-path: polygon(0 0, 100% 0, 100% 62%, 0 78%);
        font-family: "Lobster";
        font-size: 4rem;
        opacity: 1;
        text-shadow: 2px 2px #111;
        box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
    }
    .blog-title p{
        margin-bottom: .7em;
    }
}

a {
    text-decoration: none;
    color: #fff;
}