*, *::before, *::after {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Montserrat";

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/main_1.jpg");
    background-size: cover;
}

.container {
    background-color: transparent;
    padding: 1em 1.5em;
    border-radius: 25px;
    border: 1px solid #fff;
    text-align: center;
    /* box-shadow: 5px 10px #1991c9; */
}

.input-group {
    padding: .2em;
}

button {
    padding: .5em 1.4em;
    background-color: #25aae7;
    border: none;
    min-width: 250px;
    text-transform: uppercase;
    font-family: "Lobster";
    letter-spacing: 3px;
    font-size: 1em;
    color: #fff;
    transition: all 100ms ease-in-out;
    margin-top: .5em;
}

button:hover {
    background-color: #fff;
    color: #25aae7;
}

input {
    padding: .5em;
    min-width: 250px;
    border: 1px solid #fff;
    font-family: "Montserrat";
}

.reg-title {
    font-family: "Lobster";
    font-size: 36px;
    letter-spacing: 4px;
    color: #fff;
    margin-bottom: .3em;
}

.member-info {
    margin-top: 1em;
    font-size: 14px;
    color: #fff;
}

a {
    color: #1991c9;
    text-decoration: none;
}

a:hover {
    color: #fff;
}